In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV 

pd.options.mode.chained_assignment = None

In [2]:
stocks = ['AAPL.O', 'MSFT.O', 'INTC.O', 'AMZN.O', 'GS.N']

## Results of Grid Search for optimal SMA short and long values

In [3]:
test = pd.read_csv('hyperpara_grid_search.csv', 
                 index_col = 0)

test.head(5)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(1, None, 2, 1, None)",-0.395985,-0.173460,-0.259836,-0.423834,-0.027643,0.382618,0.575777,0.384170,0.644342,0.552240,...,0.497954,0.514838,0.518336,0.527688,0.514727,0.027484,0.036430,0.032612,0.029007,0.021364
"(1, None, 2, 1, sqrt)",-0.337357,-0.312776,-0.220475,-0.681826,-0.153666,0.400222,0.395825,0.385744,0.921811,0.335573,...,0.501150,0.515250,0.534200,0.551454,0.518294,0.019905,0.029031,0.027623,0.033263,0.032462
"(1, None, 2, 1, log2)",-0.350567,-0.272089,-0.251377,-0.454111,-0.143146,0.452373,0.401206,0.418524,0.613095,0.479910,...,0.507677,0.508196,0.523478,0.538577,0.519088,0.022103,0.037020,0.025159,0.028223,0.024310
"(1, None, 2, 2, None)",-0.491373,-0.294529,-0.147717,-0.731160,-0.074974,0.556304,0.430903,0.324402,0.742241,0.478622,...,0.480856,0.500173,0.504412,0.517502,0.498703,0.043769,0.022837,0.031236,0.018104,0.025657
"(1, None, 2, 2, sqrt)",-0.432267,-0.335344,-0.113149,-0.508774,-0.001296,0.571853,0.499403,0.425729,0.764942,0.513929,...,0.476912,0.478937,0.506354,0.514300,0.492477,0.025938,0.034609,0.027871,0.028064,0.033657

In [4]:
test.sort_values(by="AAPL.O mean ret", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(100, 30, 10, 4, sqrt)",0.112075,-0.239299,-0.151455,-0.245019,-0.118652,0.490444,0.463931,0.314488,0.560275,0.410618,...,0.559297,0.564184,0.606527,0.645529,0.576743,0.023869,0.026683,0.021950,0.024248,0.025977
"(250, 30, 10, 1, sqrt)",0.069900,-0.272961,0.004403,-0.224587,-0.130196,0.418625,0.343759,0.383136,0.372564,0.532884,...,0.574718,0.571261,0.605911,0.648069,0.580959,0.027112,0.017774,0.024420,0.021593,0.027340
"(100, 40, 10, 4, None)",0.047484,-0.224653,-0.062650,-0.301740,0.040801,0.471677,0.358081,0.543732,0.584867,0.475574,...,0.546771,0.553772,0.594002,0.627315,0.568419,0.023451,0.026731,0.030798,0.031253,0.030954
"(100, 10, 20, 8, log2)",0.039964,-0.136903,0.043900,-0.031121,0.104349,0.453455,0.422155,0.376804,0.470900,0.347687,...,0.580792,0.592791,0.642708,0.669658,0.618223,0.025659,0.028648,0.025145,0.018820,0.032385
"(100, None, 15, 4, log2)",0.036478,-0.107179,-0.151578,-0.200000,-0.125518,0.403050,0.368205,0.373269,0.388699,0.343822,...,0.567465,0.582534,0.618452,0.650719,0.583812,0.029489,0.024729,0.026867,0.020131,0.023324
"(150, 5, 5, 6, log2)",0.033939,-0.169341,-0.053550,-0.040625,0.044197,0.383317,0.294111,0.231043,0.281065,0.272425,...,0.617047,0.634089,0.664082,0.686126,0.641343,0.029981,0.020044,0.024396,0.017537,0.018351
"(100, 5, 15, 1, log2)",0.032370,-0.145324,0.010340,-0.056769,-0.007872,0.498383,0.274628,0.199352,0.316720,0.292780,...,0.610185,0.620983,0.663868,0.685341,0.636312,0.028697,0.019325,0.022874,0.020109,0.018167
"(25, 5, 5, 6, sqrt)",0.028524,-0.134004,-0.044712,-0.175455,0.006185,0.360175,0.289348,0.202391,0.262892,0.189138,...,0.564500,0.580784,0.644771,0.661626,0.614728,0.035943,0.021402,0.025350,0.021626,0.022727
"(250, 10, 5, 8, sqrt)",0.027731,-0.134580,0.109145,-0.204157,0.050518,0.413705,0.284029,0.306264,0.302973,0.356140,...,0.586760,0.598490,0.640845,0.668396,0.611280,0.021742,0.022816,0.020969,0.023398,0.027255
"(25, 20, 5, 8, None)",0.023329,-0.228630,-0.031456,-0.486870,0.040260,0.424503,0.367142,0.411808,0.462592,0.410866,...,0.544582,0.542322,0.586814,0.608855,0.559843,0.034233,0.025921,0.028160,0.022366,0.029269

In [5]:
test.sort_values(by="AAPL.O improvs", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(150, 20, 20, 1, None)",-0.087063,-0.188773,-0.168947,-0.293299,-0.097190,0.451748,0.391862,0.403337,0.403827,0.453880,...,0.551844,0.567787,0.602171,0.644329,0.573730,0.021194,0.030453,0.020625,0.024406,0.028890
"(100, 10, 2, 6, sqrt)",-0.001573,-0.217952,-0.105949,-0.268025,-0.020467,0.351878,0.383780,0.337995,0.493097,0.392005,...,0.570317,0.585005,0.621318,0.657401,0.595704,0.030817,0.024142,0.024497,0.021455,0.028452
"(150, 10, 10, 4, log2)",0.010883,-0.164551,-0.056715,-0.313791,-0.051271,0.439184,0.282411,0.332409,0.522729,0.316494,...,0.576732,0.593574,0.636762,0.665638,0.606478,0.021511,0.029334,0.021416,0.019553,0.025760
"(100, None, 15, 4, log2)",0.036478,-0.107179,-0.151578,-0.200000,-0.125518,0.403050,0.368205,0.373269,0.388699,0.343822,...,0.567465,0.582534,0.618452,0.650719,0.583812,0.029489,0.024729,0.026867,0.020131,0.023324
"(100, 20, 10, 6, log2)",-0.111480,-0.242770,-0.124395,-0.049956,0.015786,0.428059,0.337926,0.433722,0.658421,0.418992,...,0.572384,0.573813,0.620580,0.658848,0.600146,0.019220,0.026608,0.023510,0.029242,0.031361
"(150, 50, 10, 1, sqrt)",-0.013397,-0.204309,0.069722,-0.271854,-0.063829,0.431851,0.378117,0.361561,0.311914,0.320845,...,0.556791,0.563364,0.608861,0.647305,0.573924,0.031644,0.028048,0.025570,0.022226,0.025722
"(50, 20, 5, 8, None)",-0.037641,-0.242903,-0.153233,-0.315693,0.003933,0.506062,0.407749,0.337215,0.709210,0.476840,...,0.557112,0.559266,0.597906,0.633744,0.562268,0.033307,0.034939,0.020309,0.024043,0.033130
"(100, 5, 5, 1, sqrt)",0.023084,-0.115798,-0.003195,-0.035636,0.099965,0.318332,0.349025,0.254671,0.355254,0.278938,...,0.599456,0.607509,0.664570,0.682612,0.630931,0.026524,0.033596,0.029575,0.025016,0.027593
"(50, 5, 10, 1, log2)",-0.029516,-0.116497,-0.078305,-0.151091,-0.084005,0.380097,0.489657,0.344375,0.453415,0.376594,...,0.598256,0.603587,0.649262,0.679657,0.626646,0.029178,0.033155,0.025577,0.021443,0.025434
"(150, 40, 5, 1, None)",-0.052942,-0.110732,-0.074459,-0.148258,0.003757,0.472830,0.373156,0.420113,0.472909,0.465506,...,0.540698,0.558829,0.594918,0.624322,0.560097,0.023574,0.027771,0.016921,0.026293,0.034215

In [6]:
test.sort_values(by="MSFT.O mean ret", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(150, 50, 10, 4, None)",-0.138989,0.046090,0.084800,-0.213714,0.148988,0.508391,0.334618,0.381770,0.493128,0.361628,...,0.555479,0.567650,0.595074,0.630303,0.580185,0.027233,0.033196,0.033372,0.019805,0.027690
"(100, 5, 10, 2, log2)",-0.053247,0.016555,-0.061102,-0.061691,0.049384,0.446628,0.353339,0.159761,0.211615,0.238647,...,0.612821,0.626837,0.665513,0.683813,0.636291,0.032367,0.021382,0.020963,0.021782,0.023972
"(1, 50, 5, 2, sqrt)",-0.158941,-0.000218,-0.097639,-0.379497,0.083986,0.484632,0.429472,0.367703,0.399577,0.557538,...,0.483907,0.507973,0.506329,0.524688,0.501218,0.030281,0.028858,0.032783,0.027363,0.041904
"(5, 50, 20, 4, None)",-0.269017,-0.007313,-0.189942,-0.393730,-0.000502,0.611875,0.624919,0.416623,0.580109,0.443407,...,0.517693,0.530817,0.552894,0.568174,0.538936,0.025407,0.029968,0.028197,0.035586,0.024915
"(4, 5, 5, 8, log2)",-0.224772,-0.008490,0.081512,-0.336432,0.078076,0.430461,0.382464,0.362526,0.829428,0.445742,...,0.518979,0.525253,0.596325,0.615783,0.579147,0.038660,0.035663,0.020685,0.025380,0.020603
"(50, 30, 10, 4, log2)",-0.263897,-0.012025,-0.063294,-0.149437,0.067616,0.446471,0.357523,0.358484,0.620590,0.272697,...,0.545963,0.565149,0.593815,0.639966,0.572141,0.026608,0.027345,0.026538,0.027108,0.023271
"(250, 30, 20, 4, sqrt)",-0.109633,-0.017611,0.006749,-0.083025,0.029208,0.495355,0.399480,0.274442,0.360522,0.407302,...,0.569293,0.591200,0.624692,0.663762,0.596638,0.020876,0.032602,0.025739,0.024895,0.022175
"(25, 50, 20, 2, sqrt)",-0.228643,-0.019125,-0.061128,-0.317005,-0.020473,0.459382,0.501211,0.370116,0.421515,0.514474,...,0.531183,0.552717,0.598892,0.626022,0.575717,0.029881,0.026056,0.026526,0.022212,0.025057
"(25, None, 2, 8, sqrt)",-0.117874,-0.022062,-0.014298,-0.335555,0.064744,0.461073,0.502208,0.313360,0.385459,0.432117,...,0.552063,0.577416,0.614088,0.638674,0.581537,0.029957,0.028210,0.032211,0.026599,0.025770
"(250, 40, 15, 6, sqrt)",-0.001356,-0.025876,-0.009921,-0.173734,0.088898,0.528696,0.389067,0.233560,0.424324,0.403493,...,0.586308,0.597371,0.632278,0.655198,0.599177,0.027735,0.027835,0.023830,0.028458,0.027053

In [7]:
test.sort_values(by="MSFT.O improvs", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(1, 40, 15, 2, log2)",-0.336014,-0.082687,-0.136553,-0.459572,-0.027355,0.437421,0.554503,0.381473,0.685505,0.458654,...,0.509282,0.514048,0.523099,0.550071,0.522499,0.032801,0.030267,0.032702,0.027909,0.029460
"(5, 20, 20, 8, None)",-0.364060,-0.161294,-0.161076,-0.383889,-0.135137,0.517845,0.527018,0.475755,0.561590,0.431840,...,0.499345,0.515074,0.560230,0.564115,0.533625,0.036074,0.034744,0.030461,0.023461,0.028098
"(1, 50, 5, 2, sqrt)",-0.158941,-0.000218,-0.097639,-0.379497,0.083986,0.484632,0.429472,0.367703,0.399577,0.557538,...,0.483907,0.507973,0.506329,0.524688,0.501218,0.030281,0.028858,0.032783,0.027363,0.041904
"(250, 40, 15, 6, sqrt)",-0.001356,-0.025876,-0.009921,-0.173734,0.088898,0.528696,0.389067,0.233560,0.424324,0.403493,...,0.586308,0.597371,0.632278,0.655198,0.599177,0.027735,0.027835,0.023830,0.028458,0.027053
"(5, 50, 20, 4, None)",-0.269017,-0.007313,-0.189942,-0.393730,-0.000502,0.611875,0.624919,0.416623,0.580109,0.443407,...,0.517693,0.530817,0.552894,0.568174,0.538936,0.025407,0.029968,0.028197,0.035586,0.024915
"(25, 50, 20, 2, sqrt)",-0.228643,-0.019125,-0.061128,-0.317005,-0.020473,0.459382,0.501211,0.370116,0.421515,0.514474,...,0.531183,0.552717,0.598892,0.626022,0.575717,0.029881,0.026056,0.026526,0.022212,0.025057
"(150, 50, 10, 4, None)",-0.138989,0.046090,0.084800,-0.213714,0.148988,0.508391,0.334618,0.381770,0.493128,0.361628,...,0.555479,0.567650,0.595074,0.630303,0.580185,0.027233,0.033196,0.033372,0.019805,0.027690
"(50, 5, 5, 4, log2)",-0.269412,-0.051916,-0.025532,0.002828,0.008775,0.407011,0.347379,0.285131,0.347421,0.375960,...,0.583435,0.602938,0.656652,0.682629,0.621877,0.029694,0.022642,0.017532,0.022287,0.028679
"(3, None, 2, 4, log2)",-0.146203,-0.048185,-0.036059,-0.492297,-0.001449,0.434288,0.464813,0.254349,0.663462,0.436428,...,0.512467,0.517887,0.533054,0.541373,0.526196,0.035037,0.031240,0.031107,0.029855,0.026258
"(5, 50, 10, 1, log2)",-0.227749,-0.051630,-0.156661,-0.479326,-0.036155,0.404451,0.366972,0.322719,0.555485,0.446867,...,0.509200,0.515508,0.538662,0.561466,0.535968,0.030045,0.028790,0.030906,0.027220,0.021473

In [8]:
test.sort_values(by="INTC.O mean ret", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(1, 5, 20, 6, sqrt)",-0.396804,-0.095919,0.163021,-0.227921,0.124827,0.399916,0.426679,0.387399,0.507468,0.423436,...,0.520965,0.540617,0.574901,0.612385,0.552153,0.061345,0.077741,0.057297,0.055232,0.059556
"(250, 50, 2, 4, None)",-0.364685,-0.163523,0.150047,-0.308531,0.114542,0.523566,0.372178,0.391740,0.649330,0.499303,...,0.546300,0.566719,0.603861,0.641165,0.573804,0.027492,0.021643,0.021108,0.019160,0.028762
"(4, 30, 20, 8, log2)",-0.378660,-0.180075,0.140079,-0.695513,-0.138430,0.516479,0.439440,0.370438,0.557437,0.348712,...,0.515468,0.531912,0.553859,0.568950,0.535450,0.027164,0.023454,0.022281,0.027625,0.038509
"(250, 20, 2, 4, log2)",-0.210076,-0.114434,0.116289,-0.097674,-0.025358,0.399058,0.330248,0.244561,0.571452,0.557978,...,0.563647,0.585071,0.627697,0.659191,0.591214,0.025472,0.022652,0.026740,0.021541,0.028437
"(100, 10, 15, 4, log2)",-0.118019,-0.128065,0.112875,-0.099795,0.118259,0.585411,0.354324,0.272993,0.464647,0.390558,...,0.576173,0.592164,0.632333,0.668151,0.594320,0.023976,0.030015,0.018912,0.021604,0.020828
"(250, 50, 10, 2, None)",-0.421511,-0.224650,0.112744,-0.514725,0.144395,0.492288,0.406600,0.472436,0.738108,0.450593,...,0.546659,0.560867,0.599228,0.638017,0.579769,0.027264,0.027158,0.024974,0.025398,0.026262
"(250, 10, 5, 8, sqrt)",0.027731,-0.134580,0.109145,-0.204157,0.050518,0.413705,0.284029,0.306264,0.302973,0.356140,...,0.586760,0.598490,0.640845,0.668396,0.611280,0.021742,0.022816,0.020969,0.023398,0.027255
"(4, 5, 5, 6, None)",-0.177132,-0.185618,0.108412,-0.360218,0.035736,0.362597,0.355143,0.322885,0.647351,0.396544,...,0.517022,0.525171,0.579505,0.589218,0.568666,0.037218,0.032226,0.025285,0.029607,0.030786
"(250, 5, 5, 4, None)",-0.171215,-0.173657,0.107717,-0.139793,0.047319,0.382507,0.333014,0.321426,0.413352,0.329901,...,0.598629,0.600207,0.642083,0.669550,0.619350,0.023429,0.028305,0.021904,0.019707,0.020538
"(50, 30, 15, 2, None)",-0.080215,-0.203879,0.107332,-0.250844,-0.064614,0.450736,0.411405,0.371818,0.511522,0.370925,...,0.555329,0.546173,0.595013,0.629706,0.555959,0.031375,0.027442,0.028996,0.020206,0.030698

In [9]:
test.sort_values(by="INTC.O improvs", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(250, 20, 2, 4, log2)",-0.210076,-0.114434,0.116289,-0.097674,-0.025358,0.399058,0.330248,0.244561,0.571452,0.557978,...,0.563647,0.585071,0.627697,0.659191,0.591214,0.025472,0.022652,0.026740,0.021541,0.028437
"(4, 30, 20, 8, log2)",-0.378660,-0.180075,0.140079,-0.695513,-0.138430,0.516479,0.439440,0.370438,0.557437,0.348712,...,0.515468,0.531912,0.553859,0.568950,0.535450,0.027164,0.023454,0.022281,0.027625,0.038509
"(150, 50, 10, 1, sqrt)",-0.013397,-0.204309,0.069722,-0.271854,-0.063829,0.431851,0.378117,0.361561,0.311914,0.320845,...,0.556791,0.563364,0.608861,0.647305,0.573924,0.031644,0.028048,0.025570,0.022226,0.025722
"(5, 5, 2, 4, sqrt)",-0.255793,-0.150027,0.077289,-0.370956,0.045205,0.614933,0.569895,0.398894,0.727482,0.572922,...,0.513857,0.530894,0.592020,0.614868,0.574304,0.030484,0.034578,0.036435,0.023895,0.033395
"(50, 40, 2, 2, log2)",-0.084506,-0.233554,-0.006809,-0.270484,-0.108023,0.640052,0.464468,0.387907,0.499151,0.442851,...,0.534863,0.536241,0.572943,0.611704,0.550606,0.026374,0.028040,0.028691,0.026778,0.033704
"(150, None, 20, 8, None)",-0.153169,-0.189628,0.045780,-0.205786,0.002507,0.593453,0.451229,0.296572,0.491320,0.458885,...,0.562294,0.559056,0.609841,0.648842,0.577908,0.027283,0.026184,0.030487,0.027132,0.030754
"(250, 30, 10, 4, log2)",-0.162773,-0.187501,0.007480,-0.213060,-0.030730,0.343806,0.278416,0.243054,0.483286,0.376425,...,0.570594,0.573774,0.615134,0.661815,0.590765,0.026392,0.020826,0.016927,0.024719,0.021336
"(250, 10, 5, 8, sqrt)",0.027731,-0.134580,0.109145,-0.204157,0.050518,0.413705,0.284029,0.306264,0.302973,0.356140,...,0.586760,0.598490,0.640845,0.668396,0.611280,0.021742,0.022816,0.020969,0.023398,0.027255
"(100, 10, 15, 4, log2)",-0.118019,-0.128065,0.112875,-0.099795,0.118259,0.585411,0.354324,0.272993,0.464647,0.390558,...,0.576173,0.592164,0.632333,0.668151,0.594320,0.023976,0.030015,0.018912,0.021604,0.020828
"(50, 5, 15, 1, log2)",-0.133639,-0.187578,0.038262,-0.161004,-0.076722,0.567507,0.407421,0.334231,0.335535,0.324162,...,0.597755,0.607048,0.659700,0.681462,0.630683,0.030447,0.030726,0.028173,0.019183,0.024498

In [10]:
test.sort_values(by="AMZN.O mean ret", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(250, 40, 10, 4, None)",0.011383,-0.101034,-0.079489,0.210708,-0.020125,0.427194,0.309827,0.398606,0.604108,0.400638,...,0.561455,0.564891,0.592682,0.644421,0.567853,0.025098,0.027604,0.025089,0.031361,0.028594
"(25, 50, 5, 1, None)",-0.264061,-0.150404,-0.199957,0.102702,-0.081488,0.380689,0.465579,0.466223,0.582681,0.385136,...,0.525338,0.521892,0.571211,0.592200,0.544677,0.030236,0.031267,0.029739,0.024591,0.030875
"(250, 40, 15, 8, log2)",-0.277602,-0.257962,-0.107001,0.093057,0.015872,0.421951,0.455122,0.339528,0.471850,0.347906,...,0.579365,0.596875,0.629249,0.677087,0.609544,0.029206,0.020414,0.025460,0.024902,0.026386
"(250, 50, 5, 8, sqrt)",-0.214570,-0.156829,0.041458,0.082073,-0.008097,0.363791,0.242813,0.347576,0.349896,0.287641,...,0.582533,0.595507,0.633379,0.670781,0.606631,0.024469,0.018611,0.022226,0.026330,0.031508
"(100, 10, 5, 4, sqrt)",-0.167160,-0.103146,-0.045821,0.069104,0.025305,0.512594,0.384965,0.366792,0.602150,0.403417,...,0.557908,0.577733,0.622692,0.657276,0.598636,0.026180,0.033130,0.022676,0.031291,0.028681
"(100, 5, 15, 6, sqrt)",-0.134859,-0.168992,-0.047552,0.059303,0.031956,0.481788,0.308676,0.213478,0.330111,0.377096,...,0.603144,0.612845,0.661491,0.687530,0.641810,0.020511,0.018708,0.016738,0.019446,0.018254
"(250, None, 2, 4, log2)",-0.091010,-0.216600,-0.057991,0.046553,0.120525,0.540269,0.441035,0.362920,0.781232,0.420760,...,0.569898,0.592103,0.624836,0.663709,0.599720,0.027859,0.029400,0.022495,0.023239,0.028082
"(150, 5, 20, 8, log2)",-0.122953,-0.149573,0.026906,0.046133,0.020943,0.407375,0.257649,0.144709,0.360890,0.245572,...,0.616327,0.614253,0.669994,0.681701,0.636443,0.026506,0.026653,0.027508,0.028609,0.026507
"(150, 50, 2, 2, sqrt)",-0.167624,-0.160597,-0.110982,0.044075,0.088596,0.478369,0.470565,0.397353,0.532478,0.420825,...,0.557461,0.558248,0.599251,0.639786,0.574802,0.030065,0.030472,0.026698,0.028427,0.023584
"(250, 5, 20, 1, None)",-0.108300,-0.082902,-0.003306,0.039891,-0.050089,0.522589,0.410827,0.324121,0.509062,0.458524,...,0.591224,0.607802,0.634565,0.679988,0.612604,0.033145,0.027672,0.021617,0.016902,0.021094

In [11]:
test.sort_values(by="AMZN.O improvs", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(250, 40, 15, 8, log2)",-0.277602,-0.257962,-0.107001,0.093057,0.015872,0.421951,0.455122,0.339528,0.471850,0.347906,...,0.579365,0.596875,0.629249,0.677087,0.609544,0.029206,0.020414,0.025460,0.024902,0.026386
"(50, 5, 20, 8, log2)",-0.152555,-0.122705,0.015493,0.017511,0.006746,0.408340,0.295965,0.175342,0.203741,0.396353,...,0.592679,0.610400,0.657608,0.679079,0.627960,0.025814,0.025532,0.021404,0.023477,0.026040
"(250, 40, 10, 4, None)",0.011383,-0.101034,-0.079489,0.210708,-0.020125,0.427194,0.309827,0.398606,0.604108,0.400638,...,0.561455,0.564891,0.592682,0.644421,0.567853,0.025098,0.027604,0.025089,0.031361,0.028594
"(150, None, 10, 6, log2)",-0.127778,-0.175910,0.070710,-0.151221,0.031145,0.511554,0.325650,0.377721,0.916025,0.357902,...,0.568582,0.577523,0.623380,0.660354,0.600207,0.033739,0.025388,0.027316,0.022168,0.024202
"(250, 5, 2, 6, log2)",-0.041234,-0.217930,-0.097238,-0.003924,-0.036696,0.317439,0.368596,0.268546,0.240226,0.318683,...,0.617134,0.628599,0.672727,0.686457,0.640375,0.022096,0.025299,0.028832,0.020928,0.019647
"(250, 50, 5, 8, sqrt)",-0.214570,-0.156829,0.041458,0.082073,-0.008097,0.363791,0.242813,0.347576,0.349896,0.287641,...,0.582533,0.595507,0.633379,0.670781,0.606631,0.024469,0.018611,0.022226,0.026330,0.031508
"(250, 5, 5, 6, log2)",-0.028827,-0.151244,-0.078771,0.009623,0.002047,0.433163,0.354656,0.210758,0.406348,0.311964,...,0.615983,0.622735,0.664440,0.689225,0.638601,0.025529,0.027443,0.019897,0.017807,0.019543
"(250, 10, 5, 6, log2)",-0.211518,-0.269769,0.000753,-0.032891,-0.068120,0.531309,0.333501,0.316230,0.410701,0.334047,...,0.587842,0.597908,0.635204,0.670873,0.609666,0.025536,0.026888,0.029739,0.021556,0.026653
"(250, 5, 20, 1, None)",-0.108300,-0.082902,-0.003306,0.039891,-0.050089,0.522589,0.410827,0.324121,0.509062,0.458524,...,0.591224,0.607802,0.634565,0.679988,0.612604,0.033145,0.027672,0.021617,0.016902,0.021094
"(150, 5, 10, 4, sqrt)",-0.153569,-0.212038,-0.077812,0.028828,-0.042387,0.524054,0.433257,0.282004,0.397668,0.420481,...,0.604346,0.616845,0.661144,0.689205,0.637420,0.023187,0.027057,0.023306,0.021128,0.022462

In [12]:
test.sort_values(by="GS.N mean ret", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(150, 40, 15, 1, sqrt)",-0.090763,-0.195271,0.011458,-0.196341,0.259854,0.575311,0.361521,0.307167,0.386153,0.574315,...,0.571082,0.574484,0.612464,0.651670,0.591502,0.026250,0.026119,0.023463,0.019752,0.025380
"(150, 10, 15, 2, None)",-0.141920,-0.192695,-0.046670,-0.470911,0.259442,0.469589,0.239493,0.416477,0.610388,0.306296,...,0.557189,0.562434,0.600645,0.642756,0.583113,0.027387,0.025349,0.027599,0.023978,0.026139
"(1, 5, 20, 1, None)",-0.258236,-0.262966,-0.108629,-0.042320,0.246170,0.475113,0.288174,0.376439,0.717935,0.453258,...,0.498495,0.519173,0.539686,0.612854,0.570433,0.082657,0.082807,0.074186,0.031499,0.058218
"(250, 20, 20, 8, None)",-0.267997,-0.120689,-0.080418,-0.206494,0.227221,0.521448,0.373908,0.310036,0.475635,0.452807,...,0.557949,0.573448,0.604820,0.645694,0.599292,0.023141,0.022561,0.032876,0.027543,0.020909
"(25, 50, 15, 6, sqrt)",-0.307858,-0.226305,-0.043531,-0.142804,0.209503,0.628862,0.340561,0.373133,0.590814,0.534595,...,0.542032,0.553179,0.590269,0.630079,0.582055,0.022091,0.026060,0.019873,0.028220,0.029430
"(100, None, 20, 8, log2)",-0.039677,-0.294814,-0.027340,-0.248545,0.208892,0.338102,0.344923,0.419600,0.442252,0.442430,...,0.585623,0.587370,0.634570,0.664482,0.607623,0.021433,0.026862,0.032314,0.025550,0.022692
"(5, 50, 5, 4, sqrt)",-0.426649,-0.333678,-0.209920,-0.364107,0.197651,0.310406,0.319996,0.437081,0.628482,0.397471,...,0.510961,0.519521,0.548554,0.557042,0.540656,0.029579,0.023709,0.026872,0.021121,0.028442
"(3, 5, 10, 1, sqrt)",-0.132184,-0.218469,-0.127924,-0.364615,0.195175,0.472646,0.445072,0.293081,0.649098,0.479129,...,0.539504,0.540975,0.576454,0.593005,0.567354,0.024755,0.037478,0.032975,0.027816,0.030228
"(50, 50, 15, 6, log2)",-0.198788,-0.191729,-0.058840,-0.268333,0.193558,0.442566,0.298156,0.404994,0.583134,0.409315,...,0.547552,0.559842,0.611051,0.643078,0.584131,0.015478,0.028237,0.031106,0.024900,0.030336
"(4, 10, 20, 1, log2)",-0.306322,-0.142555,-0.097653,-0.404882,0.187878,0.466595,0.445380,0.310132,0.661372,0.457442,...,0.506716,0.525730,0.562362,0.575560,0.543021,0.030373,0.027496,0.021257,0.027782,0.030526

In [13]:
test.sort_values(by="GS.N improvs", ascending=False).head(10)

,AAPL.O mean ret,MSFT.O mean ret,INTC.O mean ret,AMZN.O mean ret,GS.N mean ret,AAPL.O ret,MSFT.O ret,INTC.O ret,AMZN.O ret,GS.N ret,...,AAPL.O f1 mean,MSFT.O f1 mean,INTC.O f1 mean,AMZN.O f1 mean,GS.N f1 mean,AAPL.O f1 std,MSFT.O f1 std,INTC.O f1 std,AMZN.O f1 std,GS.N f1 std
"(150, 50, 2, 4, log2)",-0.245327,-0.318407,-0.019837,-0.267405,0.129717,0.460755,0.327790,0.288523,0.554307,0.362322,...,0.558461,0.571170,0.612479,0.651664,0.595269,0.030664,0.026557,0.033240,0.027495,0.021011
"(5, 30, 20, 6, log2)",-0.282178,-0.213674,-0.142912,-0.292452,0.153817,0.644723,0.466418,0.366322,0.747041,0.398196,...,0.504727,0.520345,0.557998,0.574892,0.551834,0.028769,0.036819,0.022668,0.027581,0.025560
"(150, 10, 15, 2, None)",-0.141920,-0.192695,-0.046670,-0.470911,0.259442,0.469589,0.239493,0.416477,0.610388,0.306296,...,0.557189,0.562434,0.600645,0.642756,0.583113,0.027387,0.025349,0.027599,0.023978,0.026139
"(5, 50, 5, 4, sqrt)",-0.426649,-0.333678,-0.209920,-0.364107,0.197651,0.310406,0.319996,0.437081,0.628482,0.397471,...,0.510961,0.519521,0.548554,0.557042,0.540656,0.029579,0.023709,0.026872,0.021121,0.028442
"(50, 30, 5, 2, sqrt)",-0.260270,-0.255231,-0.082014,-0.275915,0.085654,0.584296,0.463718,0.347171,0.581606,0.404578,...,0.536280,0.540663,0.577102,0.619536,0.557087,0.025887,0.028707,0.029498,0.028111,0.030228
"(4, 40, 2, 8, log2)",-0.319335,-0.233546,-0.061429,-0.334503,0.017400,0.437921,0.503390,0.373041,0.851633,0.546129,...,0.502760,0.507493,0.549566,0.574310,0.539109,0.030940,0.036254,0.025714,0.020502,0.032786
"(100, 10, 20, 8, log2)",0.039964,-0.136903,0.043900,-0.031121,0.104349,0.453455,0.422155,0.376804,0.470900,0.347687,...,0.580792,0.592791,0.642708,0.669658,0.618223,0.025659,0.028648,0.025145,0.018820,0.032385
"(4, 10, 20, 1, log2)",-0.306322,-0.142555,-0.097653,-0.404882,0.187878,0.466595,0.445380,0.310132,0.661372,0.457442,...,0.506716,0.525730,0.562362,0.575560,0.543021,0.030373,0.027496,0.021257,0.027782,0.030526
"(50, 50, 15, 6, log2)",-0.198788,-0.191729,-0.058840,-0.268333,0.193558,0.442566,0.298156,0.404994,0.583134,0.409315,...,0.547552,0.559842,0.611051,0.643078,0.584131,0.015478,0.028237,0.031106,0.024900,0.030336
"(250, 20, 5, 2, log2)",-0.163112,-0.241349,0.010282,-0.131278,0.182089,0.445986,0.396580,0.287520,0.485081,0.379961,...,0.552294,0.570159,0.609108,0.650677,0.590348,0.032561,0.024417,0.024474,0.025642,0.024578

In [25]:
heads = 500
lst = list(test.sort_values(by=f"AAPL.O improvs", ascending=False).head(heads).index)

for stock in stocks:
    # lst2 = list(test.sort_values(by=f"{stock} mean ret", ascending=False).head(heads).index)
    lst1 = list(test.sort_values(by=f"{stock} improvs", ascending=False).head(heads).index)
    lst = list(set(lst) & set(lst1))
    # lst = list(set(lst) & set(lst2))

lst

['(150, 30, 10, 8, log2)']